body{
margin:0;
overflow:hidden;
background:skyblue;
font-family:Arial;
}

#menu{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

button{
font-size:20px;
padding:10px 20px;
cursor:pointer;
}

canvas{
display:block;
}
